/P0056/P0056/nbproject/private/
/P0056/P0056/build/
/P0061/nbproject/private/
/TaskManagement/JavaApplication2/nbproject/private/
/TaskManagement/BSTree_Student/nbproject/private/
/TaskManagement/BSTree_Student/build/
/TaskManagement/P0071/nbproject/private/
/TaskManagement/P0071/build/
/Normalization/P0025/nbproject/private/
/Normalization/HE194431/nbproject/private/
/Normalization/HE194431/build/
/Normalization/P0025/build/
/ExpenseManagement/P0073/nbproject/private/
/ExpenseManagement/P0073/build/
/DoctorManagement/P0055/nbproject/private/
/DoctorManagement/P0055/build/
